<%- include('partials/header') %>
    <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="align-items-center d-none d-md-flex">
        <i class="bi bi-clock"></i> Now Book your Appoinment for Vaccine
      </div>
      <div class="d-flex align-items-center">
       GuidePDF
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
    <!-- ======= Header ======= -->
<div class="container">
    <div class="row">
        <div class="section-title" id="covid">
            <h2 class="text-center">APPOINTMENT FORM</h2>
        </div>
    </div>
    <div class="row">
      <label for="select-hospital" class="col-form-label">Please Select the Hospital</label>
          <select class="form-control control" id="hospital" name="hospital" required>
            <option selected>KEM Hospital</option>
            <option>Ambani Hospital</option>
            <option>Fortris Hospital</option>
            <option>Government Hospital</option>
          </select>
    </div>
    <div class="row">
      <div class="container-calendar">
        <h3 id="monthAndYear"></h3>
        
        <div class="button-container-calendar">
            <button id="previous" onclick="previous()">&#8249;</button>
            <button id="next" onclick="next()">&#8250;</button>
        </div>
        
        <table class="table-calendar" id="calendar" data-lang="en">
            <thead id="thead-month"></thead>
            <tbody id="calendar-body"></tbody>
        </table>
        
          <div class="footer-container-calendar">
            <select id="month" onchange="jump()">
                 <option value=0>Jan</option>
                 <option value=1>Feb</option>
                 <option value=2>Mar</option>
                 <option value=3>Apr</option>
                 <option value=4>May</option>
                 <option value=5>Jun</option>
                 <option value=6>Jul</option>
                 <option value=7>Aug</option>
                 <option value=8>Sep</option>
                 <option value=9>Oct</option>
                 <option value=10>Nov</option>
                 <option value=11>Dec</option>
            </select>
            <select id="year" onchange="jump()"></select>       
          </div>
      </div>
    </div>
    <!-- selcts slots -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <div class="login-card">
          <div class="card-body py-md-4">
            <h3 class="text-center">Select Your Slot</h3><br>
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Timing</th>
                    <th scope="col">Slots available</th>
                    <th scope="col">Select your slot</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>10 PM - 12 AM</td>
                <td>4</td>
                <td><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"></td>
            </tr>
            <tr>
              <td>2 PM - 4 PM</td>
              <td>3</td>
              <td><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"></td>
          </tr>
          <tr>
            <td>6 PM - 8 PM</td>
            <td>2</td>
            <td><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"></td>
        </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <a href="/" class="btn appointment-btn scrollto">Home</a>
      </div>
      <div class="col-2">
        <a href="/" class="btn appointment-btn scrollto" onclick="FinishedAlert()">Book</a>
      </div>
    </div>
    <br>
  </div>
</div>



    <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/calender.js"></script>

</body>

</html>