<%- include('partials/header') %>
    <!-- ======= Top Bar ======= -->
  <header class="">
    <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
       <img src="assets/img/logo.png" alt="" width="150px">
      <div class="d-flex align-items-center">
       Welcome to BookMydose !!
      </div>
    </div>
  </div>
  <br>
  <br>
</br>
</header>
    <!-- ======= Header ======= -->
<div class="container">
    <div class="row">
        <div class="section-title" id="covid">
          <center><img src="assets/img/fill.png" width="270px"></center>
            <h2 class="text-center">VACCINE REGISTRATION</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <form method="POST" action="/register">
                <div class="form-group row">
                    <div class="col-6">
                        <label for="firstname" class="col-form-label">First Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="col-6">
                    <label for="lastname" class=" col-form-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label for="phone" class="col-form-label">Phone No.</label>
                    <div class="col-md-10">
                      <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone No." required>
                    </div>
                </div>
                <div class="col-6">
                <label for="Adhar" class=" col-form-label">Aadhar No.</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" id="Adhar" name="Adhar" placeholder="Aadhar No." required>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label for="emailid" class="col-form-label">Email</label>
                    <div class="col-md-10">
                      <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email" required>
                    </div>
                </div>
              <div class="form-group row">
                <label for="birthdate" class="col-form-label">Date Of Birth</label>
                      <div class="col-md-5">
                        <input type="date" class="form-control" id="date" name="date" placeholder="Date" required>
                      </div>
              </div>
              <div class="form-group row">
                <label for="address" class="col-form-label">Address</label>
                      <div class="col-md-11">
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
                      </div>
              </div>
              <div class="form-group row">
                <div class="col-4">
                  <label for="city" class="col-form-label">City</label>
                  <div class="col-md-10">
                    <input type="city" class="form-control" id="city" name="city" placeholder="City" required>
                  </div>
                </div>
                <div class="col-4">
                <label for="state" class=" col-form-label">State</label>
                  <div class="col-md-10">
                    <select name="state" id="state" class="form-control">
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chandigarh">Chandigarh</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                      <option value="Daman and Diu">Daman and Diu</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Lakshadweep">Lakshadweep</option>
                      <option value="Puducherry">Puducherry</option>
                      <option value="Goa">Goa</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option>
                      </select>
                  </div>
                </div>
                <div class="col-3">
                  <label for="password" class=" col-form-label">Zip code</label>
                      <div class="col-md-10">
                          <input type="number" class="form-control" id="zip-code" name="zipcode" placeholder="zip-code" required>
                      </div>
                      <br>
                  </div>
            </div>
            <br>
          <hr>
            <div class="form-group row">
              <div class="col-6">
                <a href="/" class="btn appointment-btn">Back</a>
              </div>
              <div class="col-6">
                <button type="submit" class="btn appointment-btn">Register</button>
                <br><br>
                <br><br>
              </div>
            </div>
            <br>
            </form>
            
          </div>
    </div>
</div>















    <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>