{% extends 'base.html' %}
{% load static %}
{% block content %}

<h4 class="text-center mb-3">Blood Donation</h4>
<div class="card card-body mb-5">

    <form action="\bloodDonation\" method="post" class="m-3">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
    
        <div class="form-group mb-3">
            <label for="age">Age</label>
            <input type="number" class="form-control" name="age" id="age">
        </div>

        <div class="form-group mb-3">
            <label for="contact">Mobile Number</label>
            <input type="number" class="form-control" name="contact" id="contact">
        </div>
    
        <div class="form-group mb-3">
            <label>Gender</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="male">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio2" value="female">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio3" value="other">
                    <label class="form-check-label" for="inlineRadio3">Other</label>
                </div>
            </div>
        </div>

        <!-- <div class="form-group mb-3">
            <label>BloodGroup</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="A+">
                    <label class="form-check-label" for="inlineRadio1">A+</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio2" value="B+">
                    <label class="form-check-label" for="inlineRadio2">B+</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio3" value="O+">
                    <label class="form-check-label" for="inlineRadio3">O+</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio4" value="AB+">
                    <label class="form-check-label" for="inlineRadio4">AB+</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio5" value="A-">
                    <label class="form-check-label" for="inlineRadio5">A-</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio6" value="B-">
                    <label class="form-check-label" for="inlineRadio6">B-</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio7" value="O-">
                    <label class="form-check-label" for="inlineRadio7">O-</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio" id="inlineRadio8" value="AB-">
                    <label class="form-check-label" for="inlineRadio8">AB-</label>
                </div>
            </div>
        </div> -->

        
        <div class="form-group mb-3">
            <label for="bloodGrp">Blood Group</label>
            <input type="text" class="form-control" name="bloodGrp" id="bloodGrp">
        </div>
    
        <div class="form-group mb-3">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" id="location">
        </div>



        <div class="form-group mb-3">
            <label>Do you have any disease</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="disease" id="inlineRadio1" value="True">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="disease" id="inlineRadio2" value="False">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6 d-flex align-center justify-content-end">
                <button class="btn btn-success">Donate</button>
            </div>
            <div class="col-md-6 d-flex align-center justify-content-start">
                <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Request</a>
            </div>
        </div>
    </form>

</div>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Blood Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/requestDonation/" method="post" >
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="bloodGrp">Blood Group</label>
                    <input type="text" class="form-control" name="bloodGrp" id="bloodGrp">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Request</button>
                </div>
            </form>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}