{% extends 'base.html' %}
{% load static %}
<!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% block content %}
   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" >

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bringing The Future Of HealthCare</h1>
          <h2><i>Paperless and Contactless, are the need of the hour. DATAMBULANCE is here to change the age-old method of carrying medical files when you visit a doctor which results in it going through different hands. With DATAMBULANCE, the patient can have the entirety of medical information right in the palm of his hand as a QR CODE, without having any physical contact and never forgetting the file ever.</i></h2>
          <div><a href="#services" class="btn-get-started scrollto">Get Started</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src={% static 'images/home-bg.png' %} id="homeimg" class="img-fluid" width="500" height="50" alt=""><!--image add kiya yaha-->
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">



    
 

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>We are providing solution for carrying number of medical reports when visiting doctors, making reports digital and making it avaliable on the plam of your hand.We are also providing a medical assistant which can help you to deal with your illness by giving solutions for sickness and also recommanding you to perticular doctor.</p>

        </div>
        <br/>
      <br/>
      <br/>


        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cash-stack" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="records.html">Data Management</a></h4><!--naam aur link kiya-->
              <p class="description">Our severs will provide peoples to store their medical history also allow them to modify their details accordingly</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="prescription.html">Qr Code Generation</a></h4><!--naam aur link kiya-->
              <p class="description">The details uploaded on the server will be made avaliable for users in form of QR Code which they can carry anywhere effortlessly</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-chat-text" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Personal Medical Assistant</a></h4><!--ye baki hai-->
              <p class="description">Our AI powered Chatbot will assistant the Patient  in providing quick help to the patient.
              </p>
              <br/>
            </div>
          </div>
          
          </div>
        </div>

      </div>
      <br/>
      <br/>
      <br/>

      <br/>
      <br/>
      <br/>
    </section><!-- End Services Section -->

<!--niche wala baki hai
-->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">


            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'testimonials_img/User1.jpg' %}" class="testimonial-img" alt="">
                <h3>Nitee Dhuri</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The website helped me to manage all my previous medical history safely and i can carry the QR code anywhere easily rather than carring the group of files.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static 'testimonials_img/User2.jpg' %} class="testimonial-img" alt="">
                <h3>Gaurav Kanojia</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The website helped me to manage all my previous medical history safely and i can carry the QR code anywhere easily rather than carring the group of files.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'testimonials_img/User3.jpg' %}" class="testimonial-img" alt="">
                <h3>Kanishka Gupta</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The website helped me to manage all my previous medical history safely and i can carry the QR code anywhere easily rather than carring the group of files.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'testimonials_img/User4.jpg' %}" class="testimonial-img" alt="">
                <h3>Shreyas Padghan</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The website helped me to manage all my previous medical history safely and i can carry the QR code anywhere easily rather than carring the group of files.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container">
            <br/>
    
            <div class="row">
              <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
                <img src={% static 'images/about_us.png' %} id="about_img" class="img-fluid"  alt="">
              </div>
    
              <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>About Us</h3>
                <p>The spread of diseases through touch has now become a new normal nowadays. Hence, paperless and contactless, are THE need of the hour. The age-old method of carrying medical files whenever you visit a doctor results in it going through different hands and if the patient forgets to carry his medical file along with him then the doctor has no prior information to move forward with. DATAMBULANCE is here to CHANGE this. With DATAMBULANCE, the patient can have the entirety of medical information right in the palm of his hand as a QR CODE, without having any physical contact.
                  </p>
    
                
    
              </div>
            </div>

            <br/>
            <br/>
    
          </div>
        </section><!-- End About Section -->
{% endblock content %}