<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding: 30px;" >
        {% if posts %}
          <table class="table table-bordered table-striped mb-0" style="border: 1px; margin-right:50px;">
            <thead style="background-color: darkcyan;">
              <tr>
                <th scope="col" width="50 !important">#</th>
                <th scope="col" width="400">Prescription Name</th>
                <th scope="col"width="700">Description</th>
              </tr>
            </thead>
            {% for post in posts %}
            <tbody style="background-color: #b4e3f6;">
              <tr>
                <th scope="row">{{post.id}}</th>
                <td>{{post.title}}</td>
                <td>{{post.desc}}</td>
              </tr>
              {% endfor %}
          </table>
        {% else %}
        <h1>NO DATA</h1>
        {% endif %}
        </div>
</body>
</html>